* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}





/* Sets up nav container to fill the space, flex contents, and set their positions */
nav {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(5px, 5px, 0);
}

/* Virtuals and minimums to ensure consistent, but flexible and responsive sizing of icon with typical viewports */
.navIcon {
  min-width: 7vw;
  max-width: 7vw;
  margin: 1.7%;
  display: flex;
  align-items: center;
}

/* Font and sizing established */
.navUl ul {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  display: flex;
  justify-content: space-around;
}

/* Positioning and styling for the li elements */
.navUl li {
  margin-right: 1em;
}

/* Removes defaults and adds styling */
.navUl a {
  text-decoration: none;
  color: aliceblue;
}





h1 {
  font-family: "Open Sans", sans-serif;
  color: #DDD;
}

h2 {
    font-family: "Open Sans", sans-serif;
    color: #DDD;
    font-size: 4em;
}

h3 {
    font-family: "Open Sans", sans-serif;
    color: #DDD;
}

.column {
  width: 40vw;
  height: 100vh;
  background-color: black;
}
