body {
  margin: 0;
  padding: 0;
  background-color: #3d3d3e;
}



/* Beginning of Header Styles */

/* Sets up nav container to fill the space, flex contents, and set their positions */
nav {
  width: 100%;
  background-color: #242024;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 15px 15px 15px -1px rgba(0,0,0,0.25);
}

/* Virtuals and minimums to ensure consistent, but flexible and responsive sizing of icon with typical viewports */
.navIcon {
  min-width: 7vw;
  max-width: 7vw;
  margin: 1.7%;
  display: flex;
  align-items: center;
}

/* Font and sizing established */
.navUl ul {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  display: flex;
  justify-content: space-around;

}

/* Positioning and styling for the li elements */
.navUl li {
  margin-right: 1em;
  list-style-type: none;
}

/* Removes defaults and adds styling */
.navUl a {
  text-decoration: none;
  color: #eee;
}

/* End of Header Styles */



main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}



.card {
  min-width: 80%;
  width: 40vw;
  margin-top: 8vw;
  background-color: #eee;
  text-align: center;
  box-shadow: 15px 15px 15px -1px rgba(0,0,0,0.25);
}

.card img {
  width: 100%;
  height: auto;
}




h1 {
  font-family: "Open Sans", sans-serif;
  color: #3d3d3e;
  width: 100%;
}

h2 {
    font-family: "Open Sans", sans-serif;
    color: #3d3d3e;
    font-size: 4em;
    width: 100%;
}

h3 {
    font-family: "Open Sans", sans-serif;
    color: #3d3d3e;
    width: 100%;
}

p {
    font-family: "Open Sans", sans-serif;
    color: #3d3d3e;
    width: 100%;
}
