body {
  margin: 0;
  padding: 0;
  background-color: #222;
  max-width: 1600px;
}

.navBar {
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navUl {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8em;
  display: flex;
}

.navBar a {
  text-decoration: none;
  color: #DDD;
  margin-right: 40px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  color: #DDD;
}

h2 {
    font-family: "Open Sans", sans-serif;
    color: #DDD;
}

h3 {
    font-family: "Open Sans", sans-serif;
    color: #DDD;
}

.column {
  width: 40vw;
  height: 100vh;
  background-color: black;
}
